html, body {
	width: 100%;
	overflow: hidden;
	background-color: #AD8CFF;
	font-family: 'PT Sans', sans-serif;
}

header button {
	width: 10%;
	border: none;
	background-color: white;
	padding: 10% 20%;
	font-size: 2vw;
	cursor: pointer;
	text-align: center;
	margin-top: 1%;
	margin-left: 1%;
}

header button:hover {
	color: grey;
}

footer {
	position: fixed;
	bottom: 1%;
	width: 100%;
	font-size: x-large;
	text-align: center;
	background-color: magenta;
}