<!DOCTYPE html>
<html>
	<head>
		<title>Connect 4</title>
		<!--<link rel='shortcut icon' href='favicon.png' type='image/png'>-->
		<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/index_style.css">
		<link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Pacifico|Public+Sans&display=swap" rel="stylesheet">
		<script language="javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script> function cookieAlert() { 
			$('#cookies').click(function () { $('#cookies').css({ 'visibility': 'hidden' })});}
			</script>

	</head>
	<body onload="cookieAlert()">
		<header>
			<p id='cookies'><%= cookieMessage %></p>
			<div id="sun"></div>
			<div id="title-box">
				<div id="title">
					<marquee direction='right' behavior='alternate'><h1 style="color: #EF476F;">C</h1><h1 style="color: #FFD166;">o</h1><h1 style="color: #06D6A0;">n</h1><h1 style="color: #118AB2;">n</h1><h1 style="color: #FFD166;">e</h1><h1 style="color: #EF476F;">c</h1><h1 style="color: #118AB2;">t </h1><h1 style="color: #06D6A0;">4</h1></marquee>
				</div>
			</div>
		</header>
		<main>
			<div id="stats">
				<h3 id="stats-1">
				<%= gamesStarted %>
				<%if (gamesStarted != 1) { %>
					games
				<%} else { %>
					game
				<% } %> started
				</h3>
				<h3 id="stats-2">
				<%= gamesCompleted %>
				<%if (gamesCompleted != 1) { %>
					games
				<%} else { %>
					game
				<% } %> completed
				</h3>
				<h3 id="stats-3">
				<%= totalPlayers %>
				 total players
				</h3>
			</div>
			<div>
				<button type="button" class="block" onclick="window.location.href = 'play';"></button>
			</div>
			<div id="how-to"><h3>How to play:<br>Click on a column to place a disk.<br>Place four disks in line to win.</h3></div>
		</main>
		<footer>
			<div class="contact-container">
				<div class="contact" style="font-size: 50%;">
					<p>This game was created by A.Buszydlik and K.Dobiczek for the course of CSE1500</p>
				</div>
			</div>
		</footer>
	</body>
</html>