:root {
	min-width: 520px;
	min-height: 750px;
}

html, body {
    width: 100%;
    min-width: 500px;
    padding: 0;
    font-size: medium;
    overflow: hidden;
    background-color: rgb(214, 246, 255);
    font-family: 'PT Sans', sans-serif;
}

h1 {
    color: #A87C29;
    text-align: center;
    font-family: pacifico;
}

#status {
    font-size: 10vh;
    padding: 5%;
}

form {
    text-align: center;
}

header button {
    min-width: 100px;
    min-height: 40px;
    cursor: pointer;
    margin-top: 1%;
    margin-left: 1%;
    background: url('/../images/back_button.png');
    background-size: 100% 100%;
}

header button:hover {
    background-color: grey;
}

.row {
    font-family: 'Courier New', Courier, monospace;
}

.ball {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 2;
    background-image: url('/../images/lama_p1.png');
    background-size: 100% 100%;
    animation-name: falling;
    animation-duration: 0.5s;
}

#boardBackground {
    position: absolute;
    height: 405px;
    width: 465px;
    z-index: 1;
}

.column {
    position: absolute;
    height: 405px;
    width: 60px;
    z-index: 3;
}

.column:hover {
    opacity: 20%;
    background: radial-gradient(transparent, white);
}

footer {
    position: fixed;
    bottom: 1%;
    width: 100%;
    font-size: 3vw;
    background-color: #A87C29;
    color: white;
    text-align: center;
}

/* .background {
    min-width: 500px;
    min-height: 10px;
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
} */

/* @keyframes example {
    0%   {left:0px; top:0px;}
    100% {left:100px; top:100px;}
  } */