
:root {
	min-width: 520px;
	min-height: 750px;
}

html, body {
	width: 100%;
	overflow: hidden;
	background-color: rgb(214, 246, 255);
	font-family: 'PT Sans', sans-serif;
}

#background {
    position: absolute;
    bottom: 0px;
    max-width: 100%;
	right: 0px;
	z-index: -1;
}

#title {
	font-size: 7vw;
	font-family: pacifico;
	text-align: center;
	width: 102%;
	margin-top: 3%;
	margin-left: -1%;
	animation: swivel ease-in-out 2s infinite alternate;
}

#title h1 {
	display: inline;
}

main #stats-1, #stats-2, #stats-3 {
	font-size: 3vw;
	font-family: pacifico;
	text-align: center;
	color: #A87C29;
	margin-top: 8%;
	margin-left: 5%;
	float: left;
	width: 26.67%;
}

main #stats:after {
	content: "";
	display: table;
	clear: both;
}

.block {
	display: block;
	width: 40%;
	border: none;
	background-color: white;
	padding: 10% 20%;
	font-size: 3vw;
	cursor: pointer;
	text-align: center;
	margin-top: 5%;
	margin-left: 30%;
	background: url('/../images/play_button.png');
	background-size: 100% 100%;
}

.block:hover {
	opacity: 90%;
	animation: expand ease-in-out 2s infinite alternate;
}

footer {
    position: fixed;
    bottom: 1%;
    width: 100%;
    font-size: 30px;
    background-color: #A87C29;
    color: white;
    text-align: center;
}

#sun {
    height: 250px;
    width: 238.3px;
    background-image: url("/../images/sun.png");
    background-size: 100% 100%;
    position: absolute;
    top: -80px;
    right: -80px;
    max-height: 250px;
    animation: sun 6s infinite;
    overflow-x: hidden;
}

#cookies {
	cursor: pointer;
}

@keyframes swivel {
	0%{transform: rotate(-10deg);}
	100% {transform: rotate(10deg);}
}

@keyframes expand {
	0%{transform: scale(90%);}
	100% {transform: scale(110%);}
}

@keyframes sun {

	to{transform: rotate(180deg);}
}